.frasco{
    width: 385px;
    height: 313px;
    position: relative;
    left: 90px;
    bottom: 260px;
}
.gris{
    width: 385px;
    height: 313px;
    position: relative;
    bottom: -15px;
    left: 280px;
}
.bordo{
    width: 385px;
    height: 313px;
    position: relative;
    left: 450px;
    bottom: 252px;
}
.alas{
    width: 385px;
    height: 313px;
    position: relative;
    top: 250px;
    left: 61px;
}
.colores{
    width: 385px;
    height: 313px;
    position: relative;
    top: -70px;
    left: 90px;
}
.verde{
    position: relative;
    left: 220px;
    top: -45px;
}
.negro{
    position: relative;
    left: 770px;
    top: 200px;
}
.rojo{
    position: relative;
    left: 1340px;
    bottom: 94px;
}
.collares-rosa{
    position: relative;
    left: 1347px;
    top: 380px;
}
.blanco{
    position: relative;
    top: 350px;
    left: 200px;
}
.b-compra{
    position: relative;
    bottom: 545px;
    border-radius: .6rem;
    cursor: pointer;
    height: 50px;
    width: 80px;
    left: 8px;
    }
    .boton-ccc{
    position: relative;
    left: 335px;
    bottom: 270px;
    border-radius: .6rem;
    cursor: pointer;
    height: 50px;
    width: 80px;
    }
    .b-compra2{
    position: relative;
    left: 1060px;
    bottom: 535px;
    border-radius: .6rem;
    cursor: pointer;
    height: 50px;
    width: 80px;
    }
    .b-c{
    position: relative;
    bottom: 548px;
    border-radius: .6rem;
    cursor: pointer;
    height: 50px;
    width: 80px;
    left: 8px;
    }
    .hola{
        position: relative;
        top: 160px;
        left: 90px;
        }
        .hola-2{
        position: relative;
        left: 1228px;
        top: 150px;
        }
        .hola-3{
        position: relative;
        left: 668px;
        top: 395px;
        }
        .hola-4{
        position: relative;
        top: 605px;
        left: 1228px;
        }
        .hola-5{
        position: relative;
        top: 585px;
        left: 88px;
        }
        .b-c{
            position: relative;
            bottom: 548px;
            border-radius: .6rem;
            cursor: pointer;
            height: 50px;
            width: 80px;
            left: 8px;
            }
            .b-c2{
            position: relative;
            left: 1060px;
            bottom: 544px;
            border-radius: .6rem;
            cursor: pointer;
            height: 50px;
            width: 80px;
            }
            .b-c3{
            position: relative;
            left: 417px;
            bottom: 277px;
            border-radius: .6rem;
            cursor: pointer;
            height: 50px;
            width: 80px;
            }
            .b-c4{
            position: relative;
            left: 910px;
            border-radius: .6rem;
            cursor: pointer;
            height: 50px;
            width: 80px;
            top: -37px;
            }
            .b-c5{
            position: relative;
            right: 330px;
            bottom: 428px;
            height: 50px;
            border-radius: .6rem;
            width: 80px;
            cursor: pointer;
            top: -42px;
            }
            .footer-collares{
                background-color: grey;
                position: relative;
                top: 88px;
                }